---
interface Props {
  title: string;
  body: string;
  categories?: string[];
}

const { categories, title, body } = Astro.props;
import Heart from '../uploads/icons/Heart.astro';
---

<div class="card w-96 base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{body}</p>

    <div class="card-actions justify-end">
      {
        categories?.map((category) => (
          <div class="badge bg-accent">{category}</div>
        ))
      }
      <label class="swap swap-rotate">
        <input type="checkbox" />
        <Heart />
      </label>
    </div>
  </div>
</div>

<style></style>
