---
interface Props {
  title: string;
}

const { title } = Astro.props;
import bulldog from '../uploads/images/bulldog.webp';
---

<div class="navbar">
  <div class="navbar-start">
    <div class="dropdown"></div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl">{title}</a>
  </div>
  <div class="navbar-end">
    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full">
        <img src={bulldog} />
      </div>
    </label>
  </div>
</div>
